.container{
    height: 300px;
    width: 100%;
    
}
.intro{
    height: 400px;
    width: 100%;
}
.group-training{
    height: 400px;
    width: 100%;
}
.sports-training{
    height: 400px;
    width: 100%;
}
.personal-training{
    height: 400px;
    width: 100%;
}