* {
    box-sizing: content-box;
    text-decoration: none;
    
}
body{
    margin: 0;
}
.header{
    background-color: rgb(29, 27, 27);
    display: flex;
    font-weight: 400;
    color: red;
    height: 100px;
}

.logo{
    padding-left: 15px;
    width: inherit;
    height: inherit;
    
    border-radius: 75%;
}
.nav{
    margin-left: auto;
    margin-right: 150px;
    font-size: 2rem;
    color: lawngreen
}

.link{
    text-decoration: none;
    
}
.footer{
    background-color: rgb(29, 27, 27);
    color: whitesmoke;
    display: block;
    width: 100%;
    height: 100px;
    position: fixed;
}
.icons{
    list-style-type: none;
    color: #fb3958; 
    text-align: center;
    padding: 15px;
    
}