* {
    box-sizing: content-box;
    text-decoration: none;
   
}
body{
    margin: 0;
}
.header{
    background-color: bisque;
    display: flex;
    font-weight: 400;
    
}
.logo{
    padding: 30px;
    font-size: 1.5rem;
    text-decoration: none;
}
.nav{
    margin-left: auto;
    margin-right: 150px;
    font-size: 1.5rem;
    
}
.link{
    text-decoration: none;
}
.footer{
    background-color: aqua;
}
.icons{
    list-style-type: none;
}